.select-post{
    position: relative;

    .select-post__title {
        margin-bottom: 24px;
    }

    .select-post__wrap {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .select-post__swiper {
        /*padding: 0 30px;*/
    }


    .swiper-slide {
        position: relative;
        overflow: hidden;
        aspect-ratio: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: #fff;
        padding: clamp(10px,1.39vw,20px);
        border-radius: 25px 25px 25px 0;
        /*box-shadow: 0 0 12px 0 #0000004f;*/
        transition: all 300ms;
        /*scale: 0;*/
        /*opacity: 0;*/
    }
    /*.swiper-slide-prev,*/
    /*.swiper-slide-next,*/
    /*.swiper-slide-active {*/
    /*    opacity: 1;*/
    /*    scale: 1;*/
    /*}*/

    .select-post__item img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: transform 0.3s ease;
        object-fit: cover;
        border-radius: 20px 20px 20px 0;
    }

    .slide-content {
        position: relative;
        z-index: 2;
        text-align: center;
        width: 100%;
        background: rgba(0,0,0,0.4); /* затемнённый фон под текстом для читаемости */
        padding: 10px;
        border-radius: 10px 10px 20px 0;
    }

    .slide-content__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .slide-content h4 {
        color: #fff;
    }

    .select_post__swiper-button-next,
    .select_post__swiper-button-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: white;
        background: linear-gradient(135deg, #000000, #676767, #1a1a1a, #444);
        background-size: 300% 100%;
        animation: gradientShift 6s ease infinite;
        border-radius: 50%;
        opacity: 0.9;
        box-shadow: #676767 0 0 20px 0px;
        font-weight: bold;
        width: 35px;
        height: 35px;
        flex: 0 0 35px;
        transition: all 300ms;
        cursor: pointer;

        svg {
            scale: 0.7;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    .swiper-button-disabled {
        opacity: 0.3 !important;
    }
}