.main-banner {
    position: relative;
    display: flex;
    overflow: hidden;

    .breadcrumbs {
        position: absolute;
        top: 0;
        left: 0;
        /*text-shadow: 1px 1px 0 black;*/

        .breadcrumbs-home {
            opacity: 0.85;
        }
    }

    &.has-shadow:before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        /*-webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);*/
        /*mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);*/
        /*background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);*/

        background: linear-gradient(180deg, rgb(0 0 0 / 20%) 0%, #000000 100%);
        border-radius: 0 0 32px 32px;
        pointer-events: none;
    }

    &.min-height {
        min-height: clamp(600px,49.098vw,70dvh);
        max-height: 70dvh;
        @media (max-width: 767px) {
            /*min-height: 650px;*/
            aspect-ratio: unset;
        }

        @media (max-width: 390px) {
            min-height: 550px;
        }

        .main-banner__text-con {
            height: 100%;
        }
    }

    .main-banner__text-con {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        @media (min-width: 991px) {
            justify-content: space-around;
        }
    }

    .main-banner__wrapper {
        padding-top: 120px;
        padding-bottom: clamp(20px,6.945vw,100px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;

        &.align-h-left  {
            align-items: flex-start;

            p,h1 {
                text-align: left;
            }

            p,a {
                margin-left: 0;
                margin-right: auto;
            }
        }
        &.align-h-center{
            align-items: center;

            p,h1 {
                text-align: center;
            }
        }
        &.align-h-right {
            align-items: flex-end;

            p,h1 {
                text-align: right;
            }

            p,a {
                margin-left: auto;
                margin-right: 0;
            }
        }

        &.align-v-top    { justify-content: flex-start; }
        &.align-v-center { justify-content: center; }
        &.align-v-bottom { justify-content: flex-end; }

        @media (max-width: 991px) {
            & a {
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    h1,h2,p,a {
        color: var(--white);
        text-align: center;
        width: 100%;
        /*text-shadow: 1px 1px 0 black;*/
    }

    h1 {
        margin-bottom: 24px;
    }

    h2 {

    }

    span,
    p {
        color: white;
        margin: 0 auto 16px auto;
    }

    .main-banner__links {
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        margin: clamp(14px,1.6667vw,24px) 0;

        & a {
            flex: auto;
            width: fit-content;
        }
    }

    .main-banner__features {
        display: flex;
        align-items: center;
        gap: clamp(32px,3.89vw,56px);
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .main-banner__feature {
            position: relative;
            display: flex;
            gap: 10px;
            color: white;

            @media (max-width: 551px) {
                flex-direction: column;
                align-items: center;
            }

            .main-banner__feature-text {
                margin: auto 0;
                font-size: clamp(10px,1.11112vw,16px);
                text-transform: uppercase;
            }
        }
        .main-banner__feature-img {
            flex: 1 0 40px;
            position: relative;
            display: flex;
            align-items: center;
            height: 40px;
            width: 40px;
            fill: currentColor;
            color: currentColor;

            & svg, & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .main-banner__bg img,
    .main-banner__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        border-radius: 0 0 32px 32px;
        object-position: top;
    }

    .main-banner__png {
        position: relative;
        bottom: 0;
        right: 0;
        width: clamp(284px, 32.15278vw, 463px);
        height: clamp(379px, 42.9167vw, 618px);
        flex: 0 0 auto;

        @media (min-width: 992px) {
            margin-top: 90px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .primary_button,
    .outline_button {
        padding: clamp(8px,1.11112vw,16px) clamp(12px,2.223vw,32px);
        font-size: clamp(12px,1.11112vw,16px);
    }
    .primary_button {
        border: 1px solid transparent;
        background-color: #C9C0B7;
        color: black;

        @media (hover: hover) {
            &:hover {
                background-color: transparent;
                border-color: #C9C0B7;
                color: #C9C0B7;
            }
        }
    }

    .outline_button {
        border: 1px solid #C9C0B7;

        @media (hover: hover) {
            &:hover {
                background-color: #C9C0B7;
                color: black;
            }
        }
    }

    @media (max-width: 991px) {
        .main-banner__text-con {
            flex-direction: column;
            align-items: center;
        }
    }
}