.footer {
    background: #0E0E0E26;

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 45px;
        margin: 30px 0;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .footer__logo-social {
        display: flex;
        flex-direction: column;
        gap: clamp(24px,3.474vw,50px);
        transition: all 300ms;

        & a:hover {
            opacity: 0.7;
        }

        .footer__logo {
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            & img{
                max-height: 64px;
            }
        }
    }

    .footer__social {
        display: flex;
        gap: 16px;

        img {
            height: 30px;
            width: 30px;
        }
    }

    .footer__company-info {
        display: flex;
        flex-direction: column;
        gap: 18px;
        color: var(--title-color);

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        .footer__company-name {
            font-size: 18px;
        }

        .company {
            font-size: 14px;
        }
    }

    .footer__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-content: flex-start;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        & a {
            transition: all 300ms;
            white-space: nowrap;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }

        .menu-item-has-children > a {
            font-size: 18px;
        }

        .sub-menu,
        .menu-item {
            flex: auto;
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .menu-item {
            color: var(--title-color);

            .sub-menu .menu-item {
                font-size: 14px;
            }
        }
    }

    .footer__bottom-group {
        margin: 33px 0 30px;
    }

    .footer__links-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
        margin: auto;

        .footer__link {
            color: black;
            transition: opacity 300ms;
            cursor: pointer;
            font-size: 12px;

            &:hover {
                opacity: 0.7;
            }
        }
    }


    @media (max-width: 991px) {

    }


    @media (max-width: 767px) {

    }
}
