.all-posts {

    .all-posts__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .all-posts__posts-wrapper {
        display: grid;
        /*grid-template-columns: 280px 5fr;*/
        grid-template-columns: 1fr;
        gap: 24px clamp(12px, 1.25vw,24px);

        .filter-dropdown__bg {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            display: block;
            width: 100vw;
            height: 100vh;
            background-color: #000000bd;
            z-index: 9;
            opacity: 0;
            transition: all 300ms;
            pointer-events: none;
            visibility: hidden;
        }

        &.filter-open {

            .all-posts__filters {
                left: 0;
                opacity: 1;
            }

            .filter-dropdown__bg {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }

            .all-posts__posts-wrap {
                pointer-events: none;
            }
        }
    }

    .all-posts__posts-wrap {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 24px clamp(12px, 1.25vw,24px);
        height: fit-content;

        @media (min-width: 992px) {
            grid-template-columns: repeat(4 , 1fr);
        }

        @media (min-width: 768px) and (max-width: 991px) {
            grid-template-columns: repeat(3 , 1fr);
        }
    }

    .all-posts__title-wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;

        .all-posts__search,
        .all-posts__filter {
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            padding: clamp(5px,0.7vw,10px) clamp(10px,1.4vw,20px);
            border-radius: 25px;
            border: 1px solid black;
            font-size: clamp(14px,1.11112vw,16px);
            cursor: pointer;
        }
        .all-posts__search {
            margin-left: 0;
            border-color: #777777;
            color: #777777;

            &:focus {
                outline: transparent;
            }
        }
    }

    /*POST*/

    .all-posts__post-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media (max-width: 768px) {
            &:nth-child(5n + 5) {
                grid-column: span 2;

                .all-posts__item-title {
                    font-size: clamp(14px, 1.667vw, 22px);
                }
            }

        }

        .all-posts__post-thumb {
            position: relative;
            aspect-ratio: 1;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 0 12px 0 #0000004f;
                border-radius: 20px 20px 20px 0;
            }
        }

        .all-post__text-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: clamp(8px,0.84vw,16px);
        }

        .all-posts__price {
            font-size: clamp(18px,1.667vw,32px);
            margin: auto 0 0 auto;
        }
        .all-posts__item-title {
            font-size: clamp(14px, 1.667vw, 22px);
            text-transform: uppercase;
        }

        .all-posts__item-desc {
            font-size: clamp(14px,0.94vw,18px);
        }

        .all-posts__categories {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px;

            .all-posts__category {
                padding: 2px 5px;
                background-color: #7407070d;
                color: #6767678f;
                border-radius: 5px;
                font-size: clamp(10px, 0.73vw, 14px);
            }
        }
    }
    /*END POST*/




    /*DROP*/

    .all-posts__filters {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: -110%;
        opacity: 0;
        padding: 20px;
        border-radius: 0 10px 10px 0;
        background-color: #f2f2f2;
        height: 100%;
        width: fit-content;
        min-width: 340px;
        z-index: 10;
        box-shadow: 0 0 12px 0 #0000004f;
        transition: all 300ms;
    }

    .filter-dropdown__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 70px;

        input {
            /*background: transparent;*/
            outline: 0;
            border-radius: 15px;
            padding: 10px;
        }
    }
    .filter-dropdown__item {
        display: flex;
        flex-direction: column;
        gap: 4px;

        input {

            &:focus {
                outline: none;
            }
        }
    }

    /* Скрываем нативный чекбокс */
    .filter-dropdown__item input[type="checkbox"] {
        display: none;
    }

    /* Создаём кастомный квадрат */
    .filter-dropdown__item label {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        user-select: none;
    }

    /* квадрат чекбокса */
    .filter-dropdown__item label::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 4px; /* скругление углов */
        background-color: #fff;
        transition: all 0.2s;
    }

    .filter-dropdown__item input[type="checkbox"]:checked + .filter-arrow::after,
    .filter-dropdown__item input[type="checkbox"]:checked::after {

    }

    .filter-dropdown__item input[type="checkbox"] + .filter-arrow::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background: linear-gradient(135deg, #0D9E79, #14B093, #0b8264, #0e9d84);
        background-size: 300% 100%;
        animation: gradientShift 6s ease infinite;
        border: 2px solid #ccc;
        border-radius: 4px;
        transition: all 300ms;
        opacity: 0;
    }

    /* когда чекбокс отмечен */
    .filter-dropdown__item input[type="checkbox"]:checked + .filter-arrow::after {
        opacity: 1;
    }

    .filter-dropdown__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;
    }

    .filter-dropdown__close {
        height: 14px;
        width: 14px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px 15px 0 0;
        cursor: pointer;
        rotate: 45deg;
        transition: all 300ms;

        &:hover {
            rotate: 180deg;
        }

        & span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: block;
            background-color: black;
            border-radius: 40%;


            &:first-child {
                width: 14px;
                height: 2px;
            }
            &:last-child {
                width: 2px;
                height: 14px;
            }
        }
    }

    #ajax-reset-btn {
        transition: all 300ms;
        cursor: pointer;

        &:hover {
            color: #6a6a6a;
        }
    }

    #ajax-search-btn {
        margin-right: 0;
    }

    /*LOAD MORE   */

    .load-more {
        margin: 25px auto 0;
    }
}